/* --------------------------------------------------Fonts---------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

/* --------------------------------------------------End Fonts------------------------------------------------ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --color-dark: #2d2d2d;
  --color-secondary: #7c8db5;
  --color-accent: #f8991c;
  --color-border: #e6effb;
  --color-disabled: #dadada;

  font-family: sans-serif;
  color: var(--color-dark);
}

.container {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}



/* --------------------------------------------------Header---------------------------------------------------- */

/* .header{
  background-color: #efefef;
} */

 .navigation{
   /* display: flex; */
   /* justify-content: space-between; */
   max-width: 758px;
 }


.menu{
  display: flex;
  justify-content: space-between;
  /* max-width: 350px; */
  transition: all 0.2s linear;
  align-items: center;
}


.container-h {  
    margin-left: 25px; 
  } 
 
  
.menu-item{
  list-style: none;
  margin-top: 10px;
  margin-right: 15px;
}
 

 
.menu-item_link-1 { 
/* /font-size: 14px; */
  /* font-family: 'Montserrat', sans-serif; */
  color: #2D2D2D;
  line-height: 1.2;
  text-decoration: none;
  transition: all 0.2s linear;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  line-height: 1.2; 
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.04em;

}

   
.menu-item_link { 
  color: #7C8DB5;
  line-height: 1.2;
  text-decoration: none;
  transition: all 0.2s linear;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  line-height: 1.2; 
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.04em;
} 
  
.menu-item_link:hover { 
  color: gray; 
}

#logo-box{
    /* margin-bottom: 50px; */
    margin-right: 45px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    /* margin-bottom: 50px; */
}

.UserName{
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.04em;
  margin-right: 6px;
  color: #2D2D2D;
  margin-bottom: 10px;
}

.UserImg{
  border: 1px solid #E6EFFB;
  box-sizing: border-box;
  border-radius: 50%;
  margin-top: 20px;
}

.nav__toggler {
  display: none;
}

/* --------------------------------------------------End Header------------------------------------------------ */
