.nav {
  padding: 28px 0;
}

.nav__toggler {
  display: none;
}

  .nav__toggler {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
  }


  .nav__menu_open {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100%;
    padding: 11px 37px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    background-color: #fff;
  }
  

