/* --------------------------------------------------Fonts---------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

/* --------------------------------------------------End Fonts---------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --color-dark: #2d2d2d;
  --color-secondary: #7c8db5;
  --color-accent: #f8991c;
  --color-border: #e6effb;
  --color-disabled: #dadada;

  font-family: sans-serif;
  color: var(--color-dark);
}

.container {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}



/* --------------------------------------------------Header---------------------------------------------------- */

/* .header{
  background-color: #efefef;
} */

 .navigation{
   display: flex;
   justify-content: space-between;
 }


.menu{
  display: flex;
  justify-content: space-between;
  max-width: 350px;
}


.container-h {  
    margin-left: 25px; 
  } 
 
  
.menu-item{
  list-style: none;
  margin-top: 10px;
  margin-right: 15px;
}
 

 
.menu-item_link-1 { 
/* /font-size: 14px; */
  /* font-family: 'Montserrat', sans-serif; */
  color: #2D2D2D;
  line-height: 1.2;
  text-decoration: none;
  transition: all 0.2s linear;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  line-height: 1.2; 
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.04em;

}

   
.menu-item_link { 
  color: #7C8DB5;
  line-height: 1.2;
  text-decoration: none;
  transition: all 0.2s linear;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  line-height: 1.2; 
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.04em;
} 
  
.menu-item_link:hover { 
  color: gray; 
}

.logo-box{
    /* margin-bottom: 50px; */
    /* margin-right: 110px; */
    display: flex;

}

.UserName{
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.04em;
  margin-right: 6px;
  color: #2D2D2D;
}

.UserImg{
  border: 1px solid #E6EFFB;
  box-sizing: border-box;
  border-radius: 50%;
  margin-top: 20px;
}

/* --------------------------------------------------End Header------------------------------------------------ */
/* --------------------------------------------------Releases-------------------------------------------------- */

.Releases{
  /* background: #FFFFFF; */
/* Light */

/* border: 1px solid #E6EFFB;
box-sizing: border-box;
border-radius: 10px;
  box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.05);
  max-width: 768px;
  margin-left: 25px; */
  /* Light */
}

.section__title_section__title_playlists{
  margin-left: 15px;
  
}

.NewReleasesIco{
  /* margin-top: 5px; */
  margin-left: 10px;
}

.release{
  background: #FFFFFF;
  /* Light */

  border: 1px solid #E6EFFB;
  box-sizing: border-box;
  border-radius: 10px;
  list-style: none;
  width: 163px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s linear;
 
}

.release:hover{
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22); 
}

.RelaseImg{
  border: 1px solid #fff;
  border-radius: 25px;
  margin-left: 5px;
  margin-top: 10px;
}

.ReleaseNameSong{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: -0.02em;

   /* Text */

  color: #2D2D2D;
  margin-left: 10px;
}

.ReleaseArtistName{
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  margin-left: 10px;
  margin-bottom: 10px;

  /* Dark */

  color: #7C8DB5;
  transition: all 0.2s linear;

}

.ReleaseArtistName:hover{
 color: darkblue;
}


#featuredPlaylists{
  list-style: none;
  margin: 0 40px;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* column-grap: 28px; */
  row-gap: 30px;
}

.PlaylistsLoaded{
  margin-top: 22px;
  background: #FFFFFF;
/* Light */

border: 1px solid #E6EFFB;
box-sizing: border-box;
border-radius: 10px;
  box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.05);
  max-width: 768px;
  margin-left: 25px;
  /* Light */
}

/* --------------------------------------------------End Releases---------------------------------------------- */
/* --------------------------------------------------Playlists------------------------------------------------- */

.playlistsLoadedIco{
  margin-left: 10px;
}

.playlistsLoaded_section__title_playlists{
  margin-left: 15px;
}

.playlistsLoadedElem{
  list-style: none; 
  display: flex;
  align-items: center;
}

.playlistsLoadedElemImg{
  border-radius: 5px;
}

.playlistsLoadedElemDivider{
  /* max-height: 40px; */
  margin-bottom: -100px;
}

.playlistsLoadedElemDividerName{
  font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.04em;

/* Text */

color: #2D2D2D;

}

.playlistsLoadedElemDividerDescript{
  font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 17px;
/* identical to box height */

letter-spacing: -0.04em;

/* Dark */

color: #7C8DB5;

}

/* --------------------------------------------------End Playlists--------------------------------------------- */
