/* --------------------------------------------------Releases-------------------------------------------------- */


  
  #Titile-Realeases-divider{
    margin-left: 24px;
    display: flex;
  }
  
  .section__title_section__title_playlists{
    margin-left: 15px;
    
  }
  

  .NewReleasesIco{
    /* margin-top: 5px; */
    margin-left: 10px;
  }
  
  .release{
    background: #FFFFFF;
    /* Light */
  
    border: 1px solid #E6EFFB;
    box-sizing: border-box;
    border-radius: 10px;
    list-style: none;
    width: 163px;
    display: flex;
    flex-direction: column;
    transition: all 0.2s linear;
    position: relative;
   
  }
  
  .release:hover{
    box-shadow: 0 3px 3px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22); 
    /* background:  #e2dddd */
  }

  .release:hover .releasesItemButtonElem{
    display: block;
    /* box-shadow: 0 3px 3px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);  */
    /* background:  #e2dddd */
  }
  @keyframes releasesItemButtonElemImg-animation {
    0%, 20%, 60%, 100% {
      transform: translateY(-10%);
      /* transform: translateY(0); */
    }
  }

  .releasesItemButtonElemImg{
    animation-name: releasesItemButtonElemImg-animation;
  }
  .release:hover .releasesItemButtonElem .releasesItemButtonElemImg{
    /* margin-bottom: 10px; */
    /* @keyframes releasesItemButtonElemImg-animation {
      0%, 20%, 60%, 100% {
        transform: translateY(-10%);
        /* transform: translateY(0); */
      /* }  */

    /* } */
animation: releasesItemButtonElemImg-animation 5s;
  }

  /* releasesItemButtonElem */
  .RelaseImg{
    border: 1px solid #fff;
    border-radius: 25px;
    margin-left: 5px;
    margin-top: 10px;
  }
  
  .ReleaseNameSong{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
  
    letter-spacing: -0.02em;
  
     /* Text */
  
    color: #2D2D2D;
    margin-left: 10px;
  }
  
  .ReleaseArtistName{
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02em;
    margin-left: 10px;
    margin-bottom: 10px;
  
    
    /* Dark */
  
    color: #7C8DB5;
    transition: all 0.2s linear;
  
  }
  
  .ReleaseArtistName:hover{
   color: darkblue;
  }

  .releasesItemElemButton{
    position: absolute;
    top: 50px;
    height: 50px;
    width: 50px;
    display: block;
    background-image: url('../images/icons/play-button.png');
    background-color: #fff;
    z-index: 5;
  }
  
  
  #featuredPlaylists{
    list-style: none;
    margin: 0 40px;
    padding: 0;
  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* column-grap: 28px; */
    row-gap: 30px;
  }
  
  .releasesItemButtonElem{
    display: none;
    /* background-image: url(../images/icons/play-button.png); */
    height: 50px;
    width: 50px;
    position: absolute;
    top: 49%;
    left: 63%;
    z-index: 5;
    border: 0px solid red;
    border-radius: 50px;
    background-color: white;
  }
  
  /* --------------------------------------------------End Releases---------------------------------------------- */
  /* --------------------------------------------------Playlists------------------------------------------------- */
  .PlaylistsLoaded{
    margin-top: 22px;
    /* background: #FFFFFF;
  /* Light */
  /*  
  border: 1px solid #E6EFFB;
  box-sizing: border-box;
  border-radius: 10px;
    box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.05); */
    /* max-width: 768px; */
    /* margin-left: 25px; */
    /* Light */
  }
  
  #PlaylistsLoaded-divider{
    margin-left: 24px;
    display: flex;
  }
  
  .playlistsLoadedIco{
    margin-left: 10px;
  }
  
  .playlistsLoaded_section__title_playlists{
    margin-left: 15px;
  }
  
  .playlistsLoadedElem{
    max-width: 758px;
    border: 1px solid #E6EFFB;
    list-style: none; 
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    box-sizing: border-box;
    border-radius: 10px;
    transition: all 0.2s linear
  }
  
  .playlistsLoadedElem:hover{
  
    box-shadow: 0 3px 3px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22); 
  }
  
  .playlistsLoadedElemImg{
    border-radius: 5px;
  }
  
  .playlistsLoadedElemDivider{
    /* max-height: 40px; */
    /* margin-bottom: 60px;
    max-height: 20px; */
    margin-left: 10px;
    /* margin-left: 400px; */
  }
  
  .playlistsLoadedElemDividerName{
    margin: 0 0 12px 0;
    font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.04em;
  
  /* Text */
  
  color: #2D2D2D;
  
  }
  
  .playlistsLoadedElemDividerDescript:hover{
    cursor: default;
  }
  
  .playlistsLoadedElemDividerDescript{
    margin: 0 0;
    font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  letter-spacing: -0.04em;
  transition: all 0.2s linear;
  
  /* Dark */
  
  color: #7C8DB5;
  
  }
  
  .playlistsLoadedElemTotal{
    font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  text-align: right;
  letter-spacing: -0.04em;
  
  color: #2D2D2D;
  margin-left: auto;
  margin-right: 15px;
  }
  
  
  /* --------------------------------------------------End Playlists--------------------------------------------- */

  
/* --------------------------------------------------Media----------------------------------------------------- */

@media (max-width: 680px) {


  #logo-box{
    padding-bottom: 10px;
    margin-right: 0px;
  }

 .menu-item_link:last-child{
    margin-bottom: 5px;
 }

 .menu{
   display: none;
   transition: all 00.2s linear;
 }


/* .menu-item{
 /* display: none; */
 /* margin-right: 10px; */
/* }   */

/* .menu-item_open{
 /* display: block; */
/* }  */  


 .nav__toggler{
   transition: all 0.2s linear;
   /* background-image: url('../images/icons/nav_menu.svg');. */
   
 }

 .nav__toggler {
   display: block;
   border: none;
   background: none;
   cursor: pointer;
    margin-top: 25px;
   margin-left: auto; 
   margin-right: 40px; 
 
  
 }

 .button-menu-img{
   transition: all 0.2s linear;
 }

 .button-menu-img_open{
   transform: rotate(90deg);
   transition: all 0.2s linear;
 }

 /* .nav__toggler_open{ */
   /* transition: all 0.2s linear; */
   /* background-image: url('../images/icons/nav_menu.svg'); */
   /* transform: rotate(90deg); */
   /* margin-top: 25px; */
   /* margin-left: 540px; */
   /* margin-right: 50px;     */
 /* } */

 .menu_open{
   position: absolute;
   transition: all 0.2s linear;
   z-index: 3;
   top: 7%;
   right: 13%;
   background-color: #fff;
   /* height: 250px; */
   /* width: 150px; */
   border-radius: 15px;
   display: flex;
   flex-direction: column;

padding-right: 10px;
   padding-left: 25px;
   /* background-color: red; */
 }

 .PlaylistsLoaded{
   margin-top: 22px;
   /* background: #FFFFFF;
 /* Light */
 /*  +
 border: 1px solid #E6EFFB;
 box-sizing: border-box;
 border-radius: 10px;
   box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.05); */
   /* max-width: 384px; */
   /* margin-left: px; */
   /* Light */
 }

 .dimmer {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: rgba(45, 45, 45, 0.35);
   display: none;
   transition: all 0.5s linear;
 }

 .dimmer_active {
   display: block;
   transition: all 0.5s linear;
 }

}

@media (max-width: 830px) {


 /* .searchbar__btn {
  position: absolute;
  right: 13%;
} */
 /* .navigation{
   display: flex;
   justify-content: space-around;
 } */

 /* .Releases{ */
   /* background: #FFFFFF; */
 /* Light */
 
 /* border: 1px solid #E6EFFB; */
 /* box-sizing: border-box; */
 /* border-radius: 10px; */
   /* box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.05); */
   /* max-width: 708px; */
   /* margin-left: 25px; */
   /* Light */
   
 /* } */
  
 /* #featuredPlaylists{ */
/* display: none;z */
 
   /* grid-template-columns: repeat(3, 1fr); */
 
 /* } */

 .PlaylistsLoaded{
   margin-top: 22px;
   /* background: #FFFFFF;
 /* Light */
 /*  
 border: 1px solid #E6EFFB;
 box-sizing: border-box;
 border-radius: 10px;
   box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.05); */
   /* max-width: 670px; */
   /* margin-left: 25px; */
   /* Light */
 }
 #playlistsLoadedElem:hover{
  max-width: 700px;
 }


 .release{
 background: #FFFFFF;
 /* Light */
 margin-right: auto;
 border: 1px solid #E6EFFB;
 box-sizing: border-box;
 border-radius: 10px;
 list-style: none;
 width: 163px;
 display: flex;
 flex-direction: column;
 transition: all 0.2s linear;

}
 
}

@media (max-width: 714px) {

  #featuredPlaylists{
    grid-template-columns: repeat(3, 1fr);
  }

}

@media (max-width: 590px) {

  #featuredPlaylists{
    grid-template-columns: repeat(2, 1fr);
  }

}
/* --------------------------------------------------End Media------------------------------------------------- */
