/* --------------------------------------------------Fonts---------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");

/* --------------------------------------------------End Fonts------------------------------------------------ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --color-dark: #2d2d2d;
  --color-secondary: #7c8db5;
  --color-accent: #f8991c;
  --color-border: #e6effb;
  --color-disabled: #dadada;
  --background-color: #ffffff;
  --text-color: #000000;

  font-family: sans-serif;
  color: var(--color-dark);
}

.container {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 768px) {
  .container {
    /* padding-left: 30px; */
    padding-right: 30px;
  }
}

/* ------------------------------------------------ Header---------------------------------------------------- */

/* .header{
  background-color: #efefef;
} */

/* --------------------------------------------------End Header------------------------------------------------ */

.main-content {
  background: var(--background-color);
  color: var(--text-color);
}

button {
  color: var(--text-color);
}

:root {
  --dark-background-color: #111111;
  --dark-text-color: #eeeeee;
}

body.theme-dark {
  --background-color: var(--dark-background-color);
  --text-color: var(dark-text-color);
}

@media (prefers-color-scheme: dark) {
  body.theme-auto {
    --background-color: var(--dark-background-color);
    --text-color: var(--dark-text-color);
  }
}
